{% extends "forums/modal.html" %}
{% load i18n static extras inkscape %}

{% block "css" %}{{ block.super }}
<style>
  h3 { margin-top: 0px; }
  #forum-logo { width: 48px; }
</style>
{% endblock %}

{% block "dialog-title" %}
  <a href="{{ form.target_object.get_absolute_url }}" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </a>
<h3><img id="forum-logo" src="{{ form.target_object.icon.url }}"> {{ form.target_object }}</h3>
{% endblock %}

{% block "modal-rest" %}
  {% include "forums/attachment_draw.html" %}
{% endblock %}

{% block "form-buttons" %}
<span class="btn-group pull-left" title="{% trans "Add attachments to topic" %}">
    <a id="add_attachments" class="btn btn-default btn-sm" style="display: none;"> <span class="glyphicon glyphicon-paperclip"></span></a>
  </span>
  <span class="btn-group pull-right">
    {% if perms.forums.can_post_topic %}
      <button class="btn btn-primary btn-sm" type="submit"> {% trans "Submit Topic" %}</button>
    {% else %}
      <button class="btn btn-warning btn-sm" type="submit"> {% trans "Submit for Moderation" %}</button>
    {% endif %}
  </span>
  <span class="btn-group pull-left">
    <a href="/community/coc/" class="btn"><span class="glyphicon glyphicon-check"></span> {% blocktrans %}Please read the <strong>Code of Conduct</strong> before posting.{% endblocktrans %}</a>
  </span>
{% endblock %}
