{% extends "forums/forumtopic_list.html" %}
{% load i18n static inkscape %}
{% block "wrapper" %}
<div class="container-flex forums-app forums-topic-list">
{% endblock "wrapper" %}
{% block "forumheader" %}
  <div class="forum-sub-header">
    <a class="forum-name" href=""><span class="glyphicon glyphicon-heart"></span> {% trans "My Forum" %}</a>
    <small class="forum-description">{% trans "A list of all topics which you have subscribed to, posted or comments made." %}</small>
  </div>
{% endblock %}
