{% extends "forums/base.html" %}
{% load i18n static %}
{% block "wrapper" %}
<div class="container-flex forums-app forums-list">
{% endblock "wrapper" %}
{% block "supercontent" %}
  {% if request.user.is_authenticated %}
  <h2>{% trans "Recent Topics" %}</h2>

    {% include "forums/topic_table.html" with topic_list=recent_topics show_forum=1 %}

  {% else %}
    <div class="jumbotron">
      <img src="{% static "forums/images/welcome.svg" %}" class="pull-left" style="padding-right: 15px; margin-left: -10px;"/>
      <h1 class="changes" data-pk="forums">{% trans "Welcome" %}</h1>

      <p>{% trans "Welcome to the Inkscape Forum." %}</p>

      <p>{% trans "You may post questions and comments here, but you will need a user acocunt and you will also need to abide by the community code of conduct." %}</p>

      <p>
        <a class="btn btn-danger btn-lg" href="/community/coc/" role="button">{% trans "Code of Conduct" %}</a>
        <a class="btn btn-primary btn-lg" href="{% url 'auth_login' %}?next={{ request.path }}" role="button">{% trans "Login Now" %}</a>
      </p>
    </div>
  {% endif %}
{% endblock %}
