/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2013, Martin Owens <doctormo@gmail.com> */

.galleryitem {
  display: inline-block;
  padding: 4px;
  min-width: 150px;
  min-height: 150px;
  text-align: center;
  vertical-align: middle;
  margin: 5px 0px 25px 0px;
  border: 2px solid transparent;
}
.galleryitem.unavailable {
  opacity: 0.5;
}
.galleryitem:hover {
  border: 2px solid #cce;
  background-color: #eef;
} 
.galleryitem a.link img,
a.link .galleryitem img {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  display: inline-block;
}
a.link .galleryitem img {
  min-width: 150px;
  min-height: 150px;
}
.galleryitem a.link {
  min-width: 150px;
  min-height: 150px;
  display: block;
  line-height: 147px;
  outline: none;
}
.galleryitem > p {
  max-width: 150px;
}
.galleryitem .label {
  max-width: 150px;
  text-align: center;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  background-color: #eef;
  display:table-cell;
  margin: 2px;
  padding: 2px;
  height: 4em;
  width: 150px;
  word-wrap: break-word;
  border-radius: 16px;
  vertical-align: middle;
}

.galleryitem .label:hover {
  border-radius: 0px;
}

.galleryitem .label a {
  color: #035;
  display: block;
  outline: none;
}
.galleryitem .label a:hover {
  text-decoration: none;
}
.galleryitem p.new a {
  background-color: #efe;
  outline: none;
}
.galleryitem progress {
  height: 15px;
  margin: 23px 0px;
  width: 130px;
}
.galleryitem div.link input {
  max-width: 150px;
  max-height: 150px;
  vertical-align: middle;
  display: inline-block;
}
.galleryitem div.link {
  min-width: 150px;
  min-height: 150px;
  display: block;
  line-height: 150px;
}
.galleryitem div.input input {
  max-width: 140px;
  text-align: center;
}
.galleryitem div.input {
  background-color: #EEF;
  display: table-cell;
  margin: 2px;
  padding: 3px;
  color: #035;
  height: 4em;
  width: 150px;
  vertical-align: middle;
}

.galleryitem.nothing {
  color: #798488;
  width: 50%;
  text-align: left;
}

.galleryitem.nothing:hover {
  border: 2px solid white;
  background-color: transparent;
}
.galleryitem.empty a.link > img {
  opacity: 0.5;
}
.galleryitem.removed {
  border: 2px dashed #f00 !important;
  background-color: #fee;
  padding: 2px;
}
.galleryitem.removed p a {
  background-color: transparent !important;
}
.galleryitem.unpublished {
  border: 2px solid #e58 !important;
  background-color: #fee;
  padding: 2px;
}
.galleryitem.unpublished p a {
  background-color: transparent !important;
}
.galleryitem.voted {
  border: 2px solid #8ccaff;
  padding: 2px;
}
.galleryitem.voted .label {
  background-color: #8ccaff;
  border-radius: 0px;
}
.galleryitem.notvoted {
  border: 2px solid #cce;
  padding: 2px;
}
.galleryitem.notvoted .label {
  background-color: #cce;
  border-radius: 0px;
}
.galleryitem .minitabs {
  width: 147px;
  position: absolute;
  text-align: right;
  margin-top: 2px;
  z-index: -1;
}
.galleryitem:hover .minitabs {
  z-index: unset;
}
.galleryitem .minitabs > img,
.galleryitem .minitabs > a {
  visibility: hidden;
}
.galleryitem:hover .minitabs > img,
.galleryitem:hover .minitabs > a {
  visibility: visible;
}
.galleryitem span.ribbon {
  visibility: visible;
  position: relative;
  top: -9px;
  left: -7px;
}
.galleryitem:hover span.ribbon {
  display: none;
}
.galleryitem span.ribbon p {
  position: absolute;
  top: -29px;
  width: 165px;
  text-align: center;
  color: white;
  font-weight: bold;
}
svg.ribbon path.part_a { fill:#7e7e7e; }
svg.ribbon path.part_b { fill:#a9a9a9; }
svg.ribbon path.part_c { fill:#494949; }
.winner svg.ribbon path.part_a { fill:#e1b000; }
.winner svg.ribbon path.part_b { fill:#fbc400; }
.winner svg.ribbon path.part_c { fill:#a97610; }
.purple svg.ribbon path.part_a { fill:#614266; }
.purple svg.ribbon path.part_b { fill:#845a8b; }
.purple svg.ribbon path.part_c { fill:#413044; }
.blue svg.ribbon path.part_a { fill:#2e5a92; }
.blue svg.ribbon path.part_b { fill:#3a71b8; }
.blue svg.ribbon path.part_c { fill:#243c5a; }
.red svg.ribbon path.part_a { fill:#982828; }
.red svg.ribbon path.part_b { fill:#c23030; }
.red svg.ribbon path.part_c { fill:#5e2920; }
.green svg.ribbon path.part_a { fill:#289842; }
.green svg.ribbon path.part_b { fill:#30c256; }
.green svg.ribbon path.part_c { fill:#205e23; }
.orange svg.ribbon path.part_a { fill:#aa7216; }
.orange svg.ribbon path.part_b { fill:#de9314; }
.orange svg.ribbon path.part_c { fill:#6b4c13; }
.grey svg.ribbon path.part_a { fill:#606060; }
.grey svg.ribbon path.part_b { fill:#797979; }
.grey svg.ribbon path.part_c { fill:#3f3f3f; }
.plat svg.ribbon path.part_a { fill:#8d8d8d; }
.plat svg.ribbon path.part_b { fill:#bcbcbc; }
.plat svg.ribbon path.part_c { fill:#5d5d5d; }
.galleryitem .minitabs .blank {
  width: 50px;
  text-align: center;
  margin-left: -2px;
  border-width: 0px 2px 2px;
  border-style: solid;
  border-color: #CCE;
  border-radius: 0px 0px 8px 8px;
  padding: 2px 0px;
  background-color: #EEF;
}
.galleryitem .blank .votebox {
  background-color: white;
  height: 15px;
  width: 15px;
  display: inline-block;
  border: solid 2px #cce;
  border-radius: 8px;
  font-size: 24px;
  line-height: 12px;
  color: #8ccaff;
}
.galleryitem .blank .votebox.add { color: white; }
.galleryitem .blank .votebox.add:hover { color: #8ccaff; }
.galleryitem .blank .votebox.remove { color: #8ccaff; }
.galleryitem .blank .votebox.remove:hover { color: red; }
.galleryitem .minitabs img,
.galleryitem .minitabs .blank {
  position: relative;
  right: -4px;
  float: left;
}
.galleryitem .minitabs > img:last-child,
.galleryitem .minitabs > a:last-child img,
.galleryitem .minitabs .blank:last-child {
  float: right;
  left: -4px;
}
.galleryitem .minitabs a:hover {
  text-decoration: none;
  font-weight: bold;
}

div#category_desc {
  color: #798488;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  background-color: #eee;
}

.btn.dragging #drop {
  border: 1px solid rgba(0,0,0, 0.25);
  background-color: white;
}
.btn #drop img {
  display: none;
}
.btn.dragging #drop img {
  border: dashed 1px rgba(0,0,0,0.25);
  padding: 5px;
  margin: 19px 5px 14px;
  display: inline-block;
}

